#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button {
  height: min-content;
}

.card {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input {
  color: white;
  border: solid 1px white;
  width: 10.875rem;

  border-radius: 8px;
  padding: 1rem;
  border: 0;
}

.info-table {
  width: 95%;
  margin: 0px auto 10px;
  border-spacing: 0;
  height: auto;
  overflow: hidden;
}

th, td {
  border: 1px solid #fff;
  padding: 8px;
  width: 100%;
  max-width: 100px;
  flex-wrap: wrap;
  overflow: auto;
}

